{
  "presets": [
    ["@babel/env", {
      "modules": "cjs"
    }],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".js"]
    }]
  ]
}
