{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": true
      }
    }],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    ["module-resolver", {
      "root": ["./src", "./node_modules"],
      "extensions": [".js"]
    }]
  ]
}
